body {
  width: 25em;
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}


.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

span {
	width: 102px;
	display: inline-block;
}
select {
    width: 80px;
    margin-left: 8px;
}

label {
    width: 220px;
    display: inline-block;
}